header{
    background-color:rgb(135, 190, 222);
    height:150px;
    width:auto;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    font-size:50px;
}
form{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
    margin:20px;
    flex-direction: column;
}
.pw, .name, .member_name{
    display:flex;
    flex-direction:row;
    padding:10px;
    margin:10px;
}