<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static', filename='week4.css')}}">
 <!--this is twig-->
<title></title>
</head>
<body>
<header>
    歡迎光臨,請註冊登入系統:3 </header>
<form action="/register" method="post"><!--post比get更好,避免資料出現在網址上-->
    <strong>註冊帳號</strong>
        <div class="member_name">
            <label for="member_name">姓名:</label><br>
            <input name="member_name"><br><br></input>
        </div>
        <div class="name">
            <label for="username">帳號:</label><br>
            <input type="text" id="username" name="username"><br><br>
        </div>
        <div class="pw">
            <label for="password">密碼:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <!--<input>提供輸入欄位;type="password"會把使用者輸入的文字藏起來-->
        </div>
    <input type="submit" value="註冊">
</form>
<form action="/signin" method="post"><!--post比get更好,避免資料出現在網址上-->
    <strong>登入系統</strong>
        <div class="name">
            <label for="username">帳號:</label><br>
            <input type="text" id="username" name="username"><br><br>
        </div>
        <div class="pw">
            <label for="password">密碼:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <!--<input>提供輸入欄位;type="password"會把使用者輸入的文字藏起來-->
        </div>
    <input type="submit" value="登入">
</form>
</body>
</html>