<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static', filename='member.css')}}">
<title></title>
</head>
<body>
<header>
    歡迎光臨,這是會員頁 </header>
<form action="/member" method="get">
    <strong>{{hello_name}},歡迎登入系統^^</strong>
</form>
<form action="/signout">
    <input type="submit" value="登出系統">
</form>
<form id="js-search">
    <strong>查詢會員姓名</strong><br>
    <input type="text" id="username" name="username"><br>
    <input type="submit" value="查詢"><br>
    <div class="result" id="hereIsResult">Result</div>
</form>
<form id="js-rename" method="post">
    <strong>更新我的姓名</strong><br>
    <input type="text" id="name" name="name"><br>
    <input type="submit" value="更新"><br>
    <div class="result" id="reName"></div>
</form>
<script src="../static/api.js"></script>
</body>
</html>